
<div>
    <h1>Hola soy el component Raiz</h1>
  
  
  <h2>Data Binding</h2>
  
  <h3>Interpolacion de String (Hacia el DOM)</h3>
  <p>
    Angular se encarga de insertar el valor de la
    varible "nombre" entre los tag p donde lo hemos definido
  </p>
  <p>{{ nombre }}</p>
  <p>{{ numero + numero1 }}</p>
  <p>{{ datos }}</p>
  <!-- esto es invalido , no se puede ir con la interpolacion
    desde el dom hacia el TS -->
  <!-- <p>{{ resultado = numero + numero1 }}</p> -->
  
  <p>{{ datos | json }}</p>
  
  <p>utilizamos el componente hijo dentro del
    componente "app"</p>
  
    <!-- le enviamos al componente "hijo" el objeto 
    "datos" que se encuentra definido como un atributo 
    del componente "app", este atributo sera recibido en 
    el atributo "datohijo" del componente "hijo" -->
  <app-hijo [propiedadhijo]="datos"></app-hijo>
  </div>
  <router-outlet />
  